<app-sidebar></app-sidebar>

<div id="mainContent" class="container-fluid">

   

    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>        
        </div>
    </div>

    <app-notification></app-notification>
   
</div>

