::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 4px;
    height: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #2e353d;
	border: 2px solid #555555;
     
}


.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: none;
}

.btn-primary{  
    background: -webkit-linear-gradient(#fadb1f 0%, #e5b816 100%);
    background: -moz-linear-gradient(#fadb1f 0%, #e5b816 100%);
    background: -o-linear-gradient(#fadb1f 0%, #e5b816 100%);
    background: linear-gradient(#fadb1f 0%, #e5b816 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadb1f', endColorstr='#e5b816',GradientType=0 ); /* IE6-9 */
    border-color: #cfb412;
    color:#000;    
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background: #F7D722;
    border-color: #cfb412;
    color:#000;     
}

.btn-default,
.product-image.add-image-btn{
    background: #ffffff; /* Old browsers */  
    background: -webkit-linear-gradient(#ffffff 0%, #efefef 100%);
    background: -moz-linear-gradient(#ffffff 0%, #efefef 100%);
    background: -o-linear-gradient(#ffffff 0%, #efefef 100%);
    background: linear-gradient(#ffffff 0%, #efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.btn-danger{
    background: #e84c47; /* Old browsers */
    background: -moz-linear-gradient(top, #e84c47 0%, #ca5352 91%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e84c47 0%,#ca5352 91%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e84c47 0%,#ca5352 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84c47', endColorstr='#ca5352',GradientType=0 ); /* IE6-9 */
    border-color: #b17977;
}

.form-control:focus{
    border-color: #eeb85d;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 217, 102, 0.6);
}

div.like-table.full-width{
    display: table;
}

.like-table>div {
    display: table-row;
}

.like-table>div>div {
    display: table-cell;
    vertical-align: middle;   
    float:none;
    padding: 0 3px;
}

.ng-invalid.ng-touched{
    border-color: #a94442;
}

.value-positive{
    color: #00796B;
}

.value-negative{
    color: #D81B60;
}

#mainContent{
    margin-left: 300px;
}

.top-cockpit{
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    background-color: #fffefb;
    position: fixed;
    top:0px;
    height: 50px;
    width: 100%;
    z-index:10;
}

.top-cockpit .serach-input{
    width: 150px;
    margin-left: 7px;
}

.top-cockpit>a, .top-cockpit>div{
    float: left;
    margin: 0 2px;
}

.bottom-cockpit{
    background-color: #fffefb;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    height: 120px;
    border-top: 1px solid #ccc;
    width: 100%;
    z-index: 10;
}

.bottom-cockpit img{
    height: 110px;
    width: 110px;
}

.bottom-cockpit .tabs-navigator{
    margin-left: 15px;
}

.bottom-cockpit .tabs-navigator>ul, 
.bottom-cockpit .tabs-navigator>div{
    float: left;
    height: 100%;     
}

.bottom-cockpit .tabs-navigator>ul>li{
    padding: 2px 6px 2px 4px;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;    
    cursor: pointer;
}

.bottom-cockpit .tabs-navigator>ul>li:first-child{
    border-radius: 4px 0 0 0;
}

.bottom-cockpit .tabs-navigator>ul>li:hover,
.bottom-cockpit .tabs-navigator>ul>li.active{
    background-color: #f0efef;   
}

.bottom-cockpit .tabs-navigator>ul>li.active{
    cursor: default;
}

.bottom-cockpit .tabs-navigator>ul>li:last-child{
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 0 4px; 
}

.bottom-cockpit .tabs-navigator>div{
    border-left: 1px solid #ccc;
    padding-left: 5px;     
}

.content-panel{
    overflow: scroll-vertical;
}

.content-with-bpanel{
    padding-bottom: 120px;   
}

.content-with-tpanel{
    padding-top: 50px;  
}

.table>tbody>tr>td{
    line-height: 1;
    padding: 6px;
}

.table>thead>tr>th{
    font-weight: normal;
    background: #efefef;
    padding: 3px;
    border-bottom: 1px solid #ccc;
}

.btn-adaptive>i{
    display: none;        
}

td.selected-item{
    background-color: #ead994;
}

/*Detail page styles*/
.detail-tabs>ul{
    display: inline-block;
    color: #2E64FE;
    list-style: none;
    padding: 0 0 10px 0;
}

.detail-tabs>ul>li{
    float: left;
    padding: 0 8px;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}

.detail-tabs>ul>li.active{
    text-decoration: none;
    color: #958f8f;    
    cursor: default;
}

.detail-title{
    overflow: hidden;    
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Scrolling bar for products*/
.product-images-stripe{
    position: relative;
	width: 100%;
	height: 100px; 		
	overflow-x: hidden;
	overflow-y: hidden;
}

.product-images-stripe .product-images-nav{
    position: absolute;
    height: 100%;
    width: 40px;    
}

.product-images-stripe .product-images-nav.nav-left{
    left:0px;
    top:0px;    
}

.product-images-stripe .product-images-nav.nav-right{
    right:0px;
    top:0px;    
}

/*---END Scrolling bar for products*/

.product-images-stripe>div{
    height: 100px; 	
	box-sizing: border-box;	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.product-image{
    cursor: pointer;
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 6px;   
    text-align: center;
    margin: 4px;
    float:left;
}

.product-image.main{
    border: 2px solid #e8bd17;
}

.product-image>img{
    max-width: 94%;
    max-height: 94%;
    margin: 3%;
}
.product-image.add-image-btn{    
    /*background-color: rgb(250, 249, 249);*/
    color: #413505;    
}

.add-image-btn>i{
    line-height: 90px;
}

@media (max-width: 767px) {

    .table-responsive>.table-bordered{
        font-size: 12px;
    }

    #mainContent{
        margin-left: 0px;
    }      

    .content-with-bpanel{
        padding-bottom: 100px;
    }

    .top-cockpit .serach-input{
        width: 100px;
    }
 
    .bottom-cockpit{
        height: 100px;
        font-size: 12px;
    }

    .bottom-cockpit img{
        height: 90px;
        width: 90px;
    }

    .btn-adaptive>i{
        display: inline-block;
    }

    .btn-adaptive>span{
        display: none;
    }   
}
