<div>  
  <h3 *ngIf="currProduct.id != null" class="detail-title">{{ currProduct.name }} </h3>
  <h3 *ngIf="currProduct.id == null" class="detail-title"> Добавить товар </h3>

  
  <hr/>

  <form (ngSubmit)="onSaveOrCreate(f)" #f="ngForm" style="margin-bottom: 30px;" >

    <div appTabs class="detail-tabs">
      <ul class="tabs-nav inline-list">
        <li data-tab="tab-1">Основное</li>
        <li data-tab="tab-2">Свойства</li>
        <li *ngIf="currProduct.id != null" (click)="loadBarcodes()" data-tab="tab-3">Штрихкода</li>        
      </ul>
    
    <div class="tabs-content">

        <div id="tab-1"> 
            <div class="form-group">
                <label for="name" class="control-label">Наименование:</label>
                  <input 
                    [ngModel] ="currProduct.name"
                    required
                    name="name" 
                    #name="ngModel"
                    id="name" 
                    type="text" 
                    class="form-control">
                  <span *ngIf="!name.valid && name.touched" class="text-danger" >Введите наименование товара</span>    
              </div>

              <div class="form-group">
                  <label for="fullName" class="control-label">Полное наименование:</label>
                    <input 
                      [ngModel] ="currProduct.fullName"            
                      name="fullName" 
                      #fullName="ngModel"
                      id="fullName" 
                      type="text" 
                      class="form-control">    
              </div>
          
              <div class="form-group">
                  <label for="description" class="control-label">Описание:</label>
                    <textarea 
                      rows="4"
                      [ngModel] ="currProduct.description"            
                      name="description" 
                      #description="ngModel"
                      id="description"             
                      class="form-control">
                    </textarea>                       
              </div>

              <div class="form-group">
                  <label class="control-label">Изображение:</label>  
                  <div class="_product-images-stripe">

                    <a class="hidden product-images-nav nav-left">
                      <i class="fa fa-chevron-left"></i>
                    </a>

                    <div class="content">

                      <div (click)="openPickFileWindow()" class="product-image add-image-btn">
                        <i class="fa fa-plus fa-2x"></i>
                        <input  accept="image/jpeg,image/png,image/gif" #uploadButton type="file" name="chooseFile" class="hidden" />
                      </div>

                      
                      <div *ngFor="let image of imagesArr" class="product-image">
                        <img src="{{image}}" />
                      </div>   
                      
                    </div>

                    <a class="hidden product-images-nav nav-right">
                      <i class="fa fa-chevron-right"></i>
                    </a>

                  </div>      
              </div>
              <div class="clearfix"></div>
              <hr />

              <div class="form-group">
                  <label for="metaTitle" class="control-label">SEO заголовок:</label>
                    <input 
                      [ngModel] ="currProduct.metaTitle"            
                      name="metaTitle" 
                      #metaTitle="ngModel"
                      id="metaTitle" 
                      type="text" 
                      class="form-control">             
              </div>

              <div class="form-group">
                  <label for="metaDescription" class="control-label">SEO описание:</label>
                    <input 
                      [ngModel] ="currProduct.metaDescription"            
                      name="metaDescription" 
                      #metaDescription="ngModel"
                      id="metaDescription" 
                      type="text" 
                      class="form-control">             
              </div>

              <div class="form-group">
                  <label for="metaKeywords" class="control-label">SEO ключевые слова (через запятую):</label>
                    <textarea 
                      rows="4"
                      [ngModel] ="currProduct.metaKeywords"            
                      name="metaKeywords" 
                      #metaKeywords="ngModel"
                      id="metaKeywords" 
                      type="text" 
                      class="form-control">   
                    </textarea>          
              </div>
        </div>

        <div id="tab-2"> 
            <div class="table-responsive">
              <table class="table table-bordered  table-hover">    
                <tbody>
                  <tr *ngFor="let property of currProduct?.properties">                      
                    <td [ngClass]="{'selected-item': (selectedProperty != null && property.id == selectedProperty.id)}">
                      {{property.name}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div id="tab-3"> 

          <div class="form-group">

            <button
              (click)="addBarcode()"
              class="btn btn-default btn-sm btn-adaptive">        
                <i class="fa fa-plus"></i>  
                <span>Создать</span>
            </button> 

            <button
              (click)="deleteBarcode()"
              type="button"
              *ngIf="selectedBarcode != null"
              class="btn btn-danger btn-sm btn-adaptive">        
                <i class="fa fa fa-trash"></i>    
                <span>Удалить</span>
            </button> 

          </div>

          <div *ngIf="currProduct.barcods == null || currProduct.barcods.length == 0 ">Список пуст</div>

          <div class="table-responsive">
              <table class="table table-bordered  table-hover">    
                <tbody>
                  <tr *ngFor="let barcode of currProduct?.barcods"
                    (click)="selectBarcode(barcode)">                      
                    <td [ngClass]="{'selected-item': (selectedBarcode != null && barcode.id == selectedBarcode.id)}">
                      {{barcode.value}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

       
        <button type="submit" class="btn btn-sm btn-primary">{{ isEdit ? 'Сохранить' : 'Создать' }} </button>
        <button class="btn btn-sm btn-default">Записать</button>
        <a routerLink="/products" class="btn btn-sm btn-default">Отмена</a>

      </div>  
    </div>
  </form> 


</div>