<div>
  <h3 class="detail-title">{{ isEdit ? 'Редактировать' : 'Создать' }} кассу</h3>

  
  <hr/>
  <form (ngSubmit)="onSaveOrCreate(f)" #f="ngForm"  >
    <div class="form-group">
      <label for="cashboxName" class="control-label">Название кассы:</label>
      <input 
        [ngModel] ="currentCashbox.name"
        required
        name="cashboxName" 
        #cashboxName="ngModel"
        id="cashboxName" 
        type="text" 
        class="form-control">
        <span *ngIf="!cashboxName.valid && cashboxName.touched" class="text-danger" >Введите значение</span>
    </div>
     <button type="submit" class="btn btn-sm btn-primary">{{ isEdit ? 'Сохранить' : 'Создать' }} </button>
     <a routerLink="/cashbox" class="btn btn-sm btn-default">Отмена</a>
  </form>


</div>