<div>
  <h3 class="detail-title">{{ isEdit ? 'Редактировать' : 'Создать' }} Контрагента</h3>

  
  <hr/>

  <form (ngSubmit)="onSaveOrCreate(f)" #f="ngForm"  >

    <div class="form-group">
      <label for="Name" class="control-label">Имя:</label>
        <input 
          [ngModel] ="currentCounterparty.name"
          required
          name="Name" 
          #Name="ngModel"
          id="Name" 
          type="text" 
          class="form-control">
        <span *ngIf="!Name.valid && Name.touched" class="text-danger" >Введите имя контрагента</span>
    
    </div>

    <div class="form-group">
        <label for="Surename" class="control-label">Фамилия:</label>
          <input 
            [ngModel] ="currentCounterparty.sureName"
            required
            name="Surename" 
            #Surename="ngModel"
            id="Surename" 
            type="text" 
            class="form-control">    
    </div>

     <div class="form-group">
        <label for="Email" class="control-label">Email:</label>
          <input 
            [ngModel] ="currentCounterparty.email"
            email="true"
            name="Email" 
            #Email="ngModel"
            id="Email" 
            type="email" 
            class="form-control">   
          <span *ngIf="!Email.valid && Email.touched" class="text-danger" >Введите корректный email</span>             
    </div>

     <div class="form-group">
        <label for="Phone" class="control-label">Телефон:</label>
          <input 
            [ngModel] ="currentCounterparty.phone"            
            name="Phone" 
            #Phone="ngModel"
            id="Phone" 
            type="text" 
            class="form-control">             
    </div>

     <button type="submit" class="btn btn-sm btn-primary">{{ isEdit ? 'Сохранить' : 'Создать' }} </button>
     <a routerLink="/counterparty" class="btn btn-sm btn-default">Отмена</a>

  </form>


</div>