<div 
  style="position: fixed; right: 5px; bottom: 5px; margin: 0px; z-index: 999;" 
  class="alert {{messageType}} alert-dismissible" 
 
  *ngIf= "message !== '' "
  role="alert">
    <button 
      type="button"
      class="close"
      (click)="closeWindow()">x</button>
      {{message}}  
</div>