<div class="row">
   
    <div class="top-cockpit">

       <a routerLink="create" 
            class="btn btn-default btn-sm btn-adaptive">        
        <i class="fa fa-plus"></i>  
        <span>Создать</span>
       </a> 

       <a [routerLink]="['edit', selectedCounterparty.id]"
            class="btn btn-default btn-sm btn-adaptive"
            *ngIf="selectedCounterparty != null"
            >        
        <i class="fa fa fa-pencil-square-o"></i>  
        <span>Редактировать</span>
       </a> 

        <a (click)="listComponent.deleteCounterparty()" class="btn btn-danger btn-sm btn-adaptive"
            *ngIf="selectedCounterparty != null">        
        <i class="fa fa fa-trash"></i>  
        <span>Удалить</span>
       </a>

        <div class="input-group serach-input">                    
            <input 
                [(ngModel)]="searchWord" 
                (keyup)="onFilterTextEdit()"
                type="search" 
                class="form-control input-sm " 
                placeholder="Поиск..." />
            <span class="input-group-btn ">
                <button (click)="clearSearch()" class="btn btn-default btn-sm" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </span>
        </div>

       


    </div>
    <div class="content-panel _content-with-bpanel content-with-tpanel">
        <app-counterparty-list 
            #listComponent
            (selectedCounterparty) ="selectedCounterparty = $event">
        </app-counterparty-list>
      </div>

    <div class="bottom-cockpit">
        <div class="row">
            <div class="col-xs-12 like-table" *ngIf="selectedCounterparty != null" >

                <div>
                    <div>
                        <i class="fa fa-phone"></i> Телефон:
                    </div>
                    <div>
                        <u>{{selectedCounterparty.phone}}</u>
                    </div>
                </div>

                <div>
                    <div>
                        <i class="fa fa-envelope-o"></i> Email:
                    </div>
                    <div>
                        <u>{{selectedCounterparty.email}}</u>
                    </div>
                </div>

                <div>
                    <div>
                        <i class="fa fa-money"></i> Баланс:
                    </div>
                    <div>                    
                        <b [ngClass]="{ 'value-positive' : (selectedCounterparty.deposit >= 0), 'value-negative' : (selectedCounterparty.deposit < 0) }" >
                            {{ selectedCounterparty.deposit }} грн.
                        </b>
                    </div>
                </div> 
            </div>
        </div>
    </div>

</div>