<div class="table-responsive">
  <table class="table table-bordered  table-hover">    
    <tbody>
      <tr *ngFor="let product of productList" 
          (click)="onItemSelected(product)" 
          (dblclick)="goToDetail(product)">
        <td [ngClass]="{'selected-item': (selectedProductItem != null && product.id == selectedProductItem.id)}">
          {{product.name}}
        </td>
      </tr>
    </tbody>

  </table>
</div>