<div class="table-responsive">
  <table class="table table-bordered  table-hover">    
    <tbody>
      <tr *ngFor="let cashbox of cashboxList" 
          (click)="onItemSelected(cashbox)" 
          (dblclick)="goToDetail(cashbox)">
        <td [ngClass]="{'selected-item': (selectedCashboxItem != null && cashbox.id == selectedCashboxItem.id)}">
          {{cashbox.name}}
        </td>
      </tr>
    </tbody>

  </table>
</div>