<div class="row">
   
    <div class="top-cockpit">

       <a routerLink="create" 
            class="btn btn-default btn-sm btn-adaptive">        
        <i class="fa fa-plus"></i>  
        <span>Создать</span>
       </a> 

       <a [routerLink]="['edit', selectedWarehouse.id]"
            class="btn btn-default btn-sm btn-adaptive"
            *ngIf="selectedWarehouse != null"
            >        
        <i class="fa fa fa-pencil-square-o"></i>  
        <span>Редактировать</span>
       </a> 

       <a (click)="listComponent.deleteWarehouse()" class="btn btn-danger btn-sm btn-adaptive"
            *ngIf="selectedWarehouse != null">        
        <i class="fa fa fa-trash"></i>  
        <span>Удалить</span>
       </a> 

    </div>
    
    <div class="content-panel _content-with-bpanel content-with-tpanel">
        <app-warehouse-list
            #listComponent
            (selectedWarehouse) ="selectedWarehouse = $event">
        </app-warehouse-list>
      </div>

     

</div>