<div class="row">
   
    <div class="top-cockpit">

       <a routerLink="create" 
            class="btn btn-default btn-sm btn-adaptive">        
        <i class="fa fa-plus"></i>  
        <span>Создать</span>
       </a> 

       <a [routerLink]="['edit', selectedProduct.id]"
            class="btn btn-default btn-sm btn-adaptive"
            *ngIf="selectedProduct != null"
            >        
        <i class="fa fa fa-pencil-square-o"></i>  
        <span>Редактировать</span>
       </a> 

        <a (click)="listComponent.deleteProduct()" class="btn btn-danger btn-sm btn-adaptive"
            *ngIf="selectedProduct != null">        
        <i class="fa fa fa-trash"></i>  
        <span>Удалить</span>
       </a>

        <div class="input-group serach-input">                    
            <input 
                [(ngModel)]="searchWord" 
                (keyup)="onFilterTextEdit()"
                type="search" 
                class="form-control input-sm " 
                placeholder="Поиск..." />
            <span class="input-group-btn ">
                <button (click)="clearSearch()" class="btn btn-default btn-sm" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>

    
    <div class="content-panel _content-with-bpanel content-with-tpanel">
        <app-product-list 
            #listComponent
            (selectedProduct) ="selectedProduct = $event">
        </app-product-list>
      </div>

    <div class="bottom-cockpit">
      
        <div style="height: 100%" *ngIf="selectedProduct != null">

        <img class="pull-left" src="https://i10.fotocdn.net/s16/249/gallery_xs/232/9365496.jpg" alt="Картинка товара">
        
        <div appTabs data-storageKey="productsList" style="height:100%;" class="pull-left tabs-navigator">
            <ul class="tabs-nav list-unstyled">
                <li data-key="prices" data-tab="tab-1"><span href="">Цены</span></li>
                <li data-key="quantity" data-tab="tab-2"><span href="">Остатки</span></li>
            </ul>
             <div class="tabs-content">
                 <div class="like-table" id="tab-1"> 
                        <div *ngFor="let price of selectedProduct.prices">
                            <div>
                                <b>{{price.type.name}}:</b>
                            </div>
                            <div>
                                {{price.price}} грн.
                            </div>  
                        </div>                    
                       
                 </div>
                 <div class="like-table" id="tab-2">                      
                       <div *ngFor="let stock of selectedProduct.stock">
                            <div>
                                <b>{{stock.warehouse.name}}:</b>
                            </div>
                            <div [ngClass]="{ 'value-positive' : (stock.quantity > 0), 'value-negative' : (stock.quantity <= 0) }" >
                                {{stock.quantity}} шт.
                            </div>  
                        </div>                    
                 </div>
             </div>      
                   
                
        </div>

        </div>
        
    </div>

</div>