<div class="row">
   
    <div class="top-cockpit">

       <a routerLink="create" 
            class="btn btn-default btn-sm btn-adaptive">        
        <i class="fa fa-plus"></i>  
        <span>Создать</span>
       </a> 

       <a [routerLink]="['edit', selectedCashbox.id]"
            class="btn btn-default btn-sm btn-adaptive"
            *ngIf="selectedCashbox != null"
            >        
        <i class="fa fa fa-pencil-square-o"></i>  
        <span>Редактировать</span>
       </a> 

       <a (click)="listComponent.deleteCashbox()" class="btn btn-danger btn-sm btn-adaptive"
            *ngIf="selectedCashbox != null">        
        <i class="fa fa fa-trash"></i>  
        <span>Удалить</span>
       </a> 


    </div>
    <div class="content-panel _content-with-bpanel content-with-tpanel">
        <app-cashbox-list 
            #listComponent
            (selectedCashbox) ="selectedCashbox = $event">
        </app-cashbox-list>
      </div>

    <div class="bottom-cockpit">
        <div class="row">
            <div class="col-xs-12" *ngIf="selectedCashbox != null" >
            Средств в кассе: 
            <b [ngClass]="{ 'value-positive' : (selectedCashbox.deposit >= 0), 'value-negative' : (selectedCashbox.deposit < 0) }" >
                {{ selectedCashbox.deposit }}
            </b>          
            </div>
        </div>
    </div>

</div>