<div class="table-responsive">
  <table class="table table-bordered  table-hover">
    <!--<thead>
      <tr>
        <th>Наименование</th>
      </tr>
    </thead>-->
    <tbody>
      <tr *ngFor="let counterparty of counterpartyList" 
          (click)="onItemSelected(counterparty)" 
          (dblclick)="goToDetail(counterparty)">
        <td [ngClass]="{'selected-item': (selectedCounterpartyItem != null && counterparty.id == selectedCounterpartyItem.id)}">
          {{counterparty.name}}
        </td>
      </tr>
    </tbody>

  </table>
</div>