<div class="table-responsive">
        <table class="table table-bordered  table-hover">
          <tr *ngFor="let warehouse of warehouseList"
              (click)="onItemSelected(warehouse)"
              (dblclick)="goToDetail(warehouse)">
            <td [ngClass]="{'selected-item': (selectedWarehouseItem != null && warehouse.id == selectedWarehouseItem.id)}">
              {{warehouse.name}}
            </td>
          </tr>
           
        </table>
</div>