<div id="sidebarMenu" class="nav-side-menu " [ngClass]="{open: isVisible}" >
    <div class="brand">Counting</div>
     
  
        <div class="menu-list ">
  
            <ul id="menu-content" class="menu-content out">
               

                <li routerLink='' routerLinkActive="active"  [routerLinkActiveOptions]= "{exact: true}">
                  <a >
                    <i class="fa fa-tachometer fa-lg"></i> Главная
                  </a>
                </li>

                <li routerLink='/products' routerLinkActive="active">
                  <a>
                    <i class="fa fa-bars fa-lg"></i> Товары
                  </a>
                </li>

                <li sidebarActive sidebarDropdown [data-toggle]="company-menu" class="has-submenu" >
                  <a style="cursor:pointer;"><i class="fa fa-briefcase fa-lg"></i> Компания <span class="arrow"></span></a>
                </li>
                    <ul class="sub-menu _collapse" id="company-menu">
                      <li routerLink='/counterparty'  routerLinkActive="active">
                        <a>
                         <i class="fa fa-group fa-lg"></i> Контрагенты
                        </a>
                      </li>

                      <li routerLink='/warehous' routerLinkActive="active">
                        <a>
                         <i class="fa fa-cubes fa-lg"></i> Склады
                        </a>  
                      </li>

                      <li routerLink="/cashbox"  routerLinkActive="active">
                        <a>
                          <i class="fa fa-inbox fa-lg"></i> Кассы
                        </a>
                      </li>
                    </ul>               
            </ul>
     </div>
</div>