<div>
  <h3 class="detail-title">{{ isEdit ? 'Редактировать' : 'Создать' }} склад</h3>

  
  <hr/>
  <form (ngSubmit)="onSaveOrCreate(f)" #f="ngForm"  >
    <div class="form-group">
      <label for="warehouseName" class="control-label">Название склада:</label>
      <input 
        [ngModel] ="currentWarehouse.name"
        required
        name="warehouseName" 
        #warehouseName="ngModel"
        id="warehouseName" 
        type="text" 
        class="form-control">
        <span *ngIf="!warehouseName.valid && warehouseName.touched" class="text-danger" >Введите значение</span>
    </div>
     <button type="submit" class="btn btn-sm btn-primary">{{ isEdit ? 'Сохранить' : 'Создать' }} </button>
     <a routerLink="/warehous" class="btn btn-sm btn-default">Отмена</a>
  </form>


</div>